<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <style>
    input {
      outline: 0;
      background: #ffffff;
      width: 300px;
      margin: 0 0 15px;
      padding: 7px 15px;
      box-sizing: border-box;
      font-size: 14px;
      transition: all 0.3s;
    }
    textarea {
      outline: 0;
      background: #ffffff;
      width: 300px;
      margin: 0 0 15px;
      padding: 7px 15px;
      box-sizing: border-box;
      font-size: 14px;
      transition: all 0.3s;
    }
  </style>
  <body>
    <form>
      <input type="text" placeholder="conference title" /><br />
      <input type="email" placeholder="conference email" /><br />
      <textarea rows="10" cols="50"> description</textarea><br />
      <button type="submit">update</button>
    </form>
  </body>
</html>
